body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .search-container {
    padding: 20px;
  }
  
  .filter-form {
    margin-bottom: 20px;
    margin-top: 4000px;
  }
  
  .dog-cards-container {
    margin-top: 20px;
    min-height: 800px; /* Increased height to the grid */
  }
  
  .dog-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .dog-image {
    width: 100%;
    height: auto;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .generate-match-button {
    display: block;
    margin: 20px auto;
  }
  
  .match-container {
    margin-top: 20px;
    text-align: center;
  }